body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .title {
    color: rgb(12, 12, 11);
    text-decoration: underline;
    background-color: #3d3c3c45;
  }
  
  .intro, .closing {
    color: #333;
    margin-bottom: 15px;
  }
  
  .game-based {
    color: #38a8e0;
    font-style: italic;
  }
  
  .aprendizaje {
    background-color: #0fc21e;
    font-weight: bold;
  }

  .last_phrase {
    color: #816214;
    font-weight: bold;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  li {
    margin-bottom: 10px;
    color: #333;
    line-height: 1.5;
  }
  
  .juego-divertido {
    background-color: #ffff00;
    font-style: italic;
  }
  
  .premian-esfuerzo {
    background-color: rgb(18, 179, 171);
  }


  
  .bold {
    font-weight: bold;
    text-decoration: underline;
  }

  .red_phrase, .asi-consiguen, .also-red{
    color: #cc1d1d;
  }

  .final-phrase{
    text-decoration: line-through;
  }
  
  @media (max-width: 768px) {
    .container {
      width: 95%;
    }
  }
  